body{
    margin:0px;
    overflow: hidden;
}

.closeimg{
    position: absolute;
    width:43px;
    height:51px;
    top :10px;
    right: 20px;
    background: url(../imgs/close1.png);
}
a:hover{
    position: absolute;
    background: url(../imgs/close2.png);
    animation-name: close_animate;
    animation-duration: 0.5s;
}
@keyframes close_animate {

    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }

}